DB_NAME = your_db_name
DB_PASSWORD = password
DB_USER = username
DB_DRIVER = mysql or postgres
DB_HOST = localhost
DB_PORT = 5432
SECRET_KEY = 32_byte_random_strong_string
SRV_PORT = 8000
SRV_HOST = localhost
SMTP_PORT = 465
SMTP_HOST = smtp_mail_server
SMTP_USER = username_on_mail_server
SMTP_PASS = mail_password
SENDER_EMAIL = sender_email_address
SENDER_IDENTITY = sender_identity_name